
<!-- <form action="/api/auth/login" method="POST" >
  <h2>Login</h2>
  
  <label for="userName">User Name</label>
  <input type="text" name="userName" required />
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error">some error</div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button type ='submit'>login</button>
</form> -->
<form action="/api/auth/login">
  <h2>Login</h2>
  <!-- <label for="email">Email</label>
  <input type="text" name="email" required /> -->
  <label for="userName">User Name</label>
  <input type="text" name="userName" required />
  <div class="userName error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>login</button>
</form>


<script>
  const form = document.querySelector('form');

  // const emailError = document.querySelector('.email.error')
  const userNameError = document.querySelector('.userName.error')
  const passwordError = document.querySelector('.password.error')

  form.addEventListener('submit',async (e) => {
    e.preventDefault();

    userNameError.textContent = '';
    passwordError.textContent = '';

    // get values
    const userName = form.userName.value;
    // const email = form.email.value;
    const password = form.password.value;

    try{
        const res = await fetch('/api/auth/login', {
          method : 'POST',
          body : JSON.stringify({userName,password}),
          headers : {"Content-Type" : 'application/json'}
        })
        const data = await res.json()
        console.log('this is the data',data)
        if (data.Error) {
          console.log('this is error', data.Error)
          data.Error.userName ? userNameError.textContent = data.Error.userName: null;
          data.Error.password ? passwordError.textContent = data.Error.password: null;
        }
        if (data.Data) {
          location.assign('/')
        }
    
    }catch (e) {
      console.log(e);
    }
    console.log(userName, password);
  });
</script>